<br>
<div class="row" *ngIf="statusContact">
    <div class="col s12">
        <form (ngSubmit)="newContact()">
            <div class="row">
                <div class="input-field col s6">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" placeholder="Full name" name="name" [(ngModel)]="contact.name">
                </div>
                <div class="input-field col s6">
                    <i class="fa fa-phone prefix"></i>
                    <input type="text" placeholder="Phone Number" name="phone" [(ngModel)]="contact.phone">
                </div>
            </div>
            <button type="submit" class="btn-large red">
                Submit
           </button>
        </form>
    </div>
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red waves-effect waves-light" (click)="statusContact = !statusContact">
        <i class="large fa fa-plus"></i>
    </a>

</div>